.header_section {
  background: url("../asset/desktop/image-hero.jpg") center;
  background-size: cover;
  height: 65vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header_box {
  height: 15rem;
  max-width: 30rem;
  padding: 1rem;
  margin: 5rem 0 0 10rem;

  border: 2px solid white;
}
.header_h1 {
  color: white;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 1px;
}
@media (max-width: 600px) {
  .header_section {
    background-image: url("../asset/mobile/hero.jpg") center;
    background-size: cover;
    height: 60vh;
  }
  .header_box {
    margin: 0.5rem;
  }
}
