@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&family=PT+Sans:ital@0;1&display=swap");

body {
  background-color: #fff;
}
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(40, 41, 41);
  }
  .card_header {
    color: aliceblue;
  }
  .main_text {
    background-color: black;
  }
  h2,
  p {
    color: aliceblue;
  }
} */

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 2px;
}
/* html {
  user-select: none;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
